<div class="col-4 my-4">
  <p>
    <strong>User:</strong>
    <%= flat.user_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= flat.title %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= flat.address %>
  </p>

  <p>
    <strong>Photo:</strong>
    <%= cl_image_tag flat.photo.key, height: 300, width: 300, crop: :fill %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= flat.price %>
  </p>

  <p>
    <strong>Avaliable:</strong>
    <%= flat.avaliable %>
  </p>

  <%= link_to "Show this flat", flat, class:"btn-show-this-flat"%>

</div>
