
<%= simple_form_for(@flat) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :user %>
    <%= f.input :title, placeholder: "Flat Title:" %>
    <%= f.input :address, placeholder: "Flat Adress:" %>
    <%= f.input :photo, placeholder: "URL(flat photo):" %>
    <%= f.input :price, placeholder: "Only Numbers:" %>
    <%= f.input :avaliable %>
    <div class="align-buttons">
      <div class="text-center">
        <div class="btn btn-outline-danger">
          <%= link_to "Back to flats", flats_path, class:"btn btn-back" %>
      </div>
        <div class="btn btn-outline-primary">
        <%= f.button :submit %>
        </div>
      </div>
    </div>
  </div>
<% end %>
