<div class="container">

  <p><%= notice %></p>
  <div id="flats">
    <%= render 'flats/flat', flat: @flat %>
  </div>
    <div class="buttons">
      <div class="buttom-round-edit">
        <%= link_to "+", edit_flat_path(@flat) if policy(@flat).edit? %>
      </div>
      <div class="buttom-round-destroy">
        <%= link_to "-", flat_path(@flat), data: { turbo_method: :delete, turbo_confirm: "Are you sure?"} if policy(@flat).destroy? %>
      </div>
    </div>


    <div class="show-buttons">
      <%= link_to 'Book Now!', new_flat_booking_path(@flat), class: "profile-button btn btn-primary btn-lg my-auto" %>
      <%= link_to "Back to flats", flats_path, class:"profile-button btn btn-primary btn-lg my-auto" %>
    </div>
</div>
