<div class="container">

  <p><%= notice %></p>

  <%= render @flat %>

  <div class="buttons">
    <%= link_to "Edit this flat", edit_flat_path(@flat) if policy(@flat).edit? %> 
    <%= button_to "Destroy this flat", @flat, method: :delete if policy(@flat).destroy? %>
  </div>


  <div class="show-buttons">
    <%= link_to 'Book Now!', new_flat_booking_path(@flat), class: "profile-button btn btn-primary btn-lg my-auto" %>
    <%= link_to "Back to flats", flats_path, class:"profile-button btn btn-primary btn-lg my-auto" %>
  </div>
</div>
